:root{
  --kursiv-text: 'Bickham-Script-One';
  --title-text: 'Cormorant';
  --text: 'CormorantBold';
  --main-font: 'Montserrat';
  --background-color:  #7C1111;
  --color-text: black;
  --timer-font: 'OldStandardTT';
  --yellow: #F0D160;
}